:root {
    --font-color: rgba(66, 66, 66, 0.849);
}
body {
    background-color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 91px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--font-color);
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

/*
grid-settings
*/
.settings {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 216px;
}

.settings button {
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    font-size: 16px;
    background-color: white;
    font-family: sans-serif;
    color: var(--font-color);
    border: 0.5px solid;
}

.settings button:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.settings button.active {
    color: white;
    background-color: var(--font-color);
}

.toggle-grid {
    text-align: center;
    font-size: 24px;
    color: var(--font-color);
}

/*
grid
*/
#grid {
    display: grid;
    width: 600px;
    height: 600px;
    background-Color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.box {
    user-select: none;
}

/*
color-settings
*/
.color-settings {
    width: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.color-indicator {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
}

.color-indicator:hover,
.color-settings .active {
    transform: scale(2);
}